:root {
  --cardheight: 0;
  --cardwidth: 0;
}

@keyframes open {
  0% {
    transform: perspective(var(--cardheight)) translateX(0) rotateY(0deg)
      scaleY(1);
  }
  11% {
    transform: perspective(var(--cardheight)) translateX(-7%) rotateY(-18deg)
      scaleY(1.1);
  }
  22% {
    transform: perspective(var(--cardheight)) translateX(-18%) rotateY(-36deg)
      scaleY(1.16);
  }
  33% {
    transform: perspective(var(--cardheight)) translateX(-32%) rotateY(-54deg)
      scaleY(1.22);
  }
  44% {
    transform: perspective(var(--cardheight)) translateX(-48%) rotateY(-72deg)
      scaleY(1.27);
  }
  56% {
    transform: perspective(var(--cardheight)) translateX(-64%) rotateY(-90deg)
      scaleY(1.28);
  }
  67% {
    transform: perspective(var(--cardheight)) translateX(-79%) rotateY(-108deg)
      scaleY(1.27);
  }
  78% {
    transform: perspective(var(--cardheight)) translateX(-91%) rotateY(-126deg)
      scaleY(1.23);
  }
  89% {
    transform: perspective(var(--cardheight)) translateX(-99%) rotateY(-144deg)
      scaleY(1.16);
  }
  100% {
    transform: perspective(var(--cardheight)) translateX(-102%) rotateY(-162deg)
      scaleY(1.09);
  }
}

@keyframes shift {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(var(--cardwidth));
  }
}

@keyframes invisible {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.card {
  height: 80%;
  aspect-ratio: 9 / 16;
  position: relative;
  animation: shift 1s linear 0s paused forwards;
  font-family: "Mountains of Christmas";
  font-weight: bold;
}

.card__front {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  animation: open 1s linear 0s paused forwards;
  border-radius: 0 2% 2% 0;
  padding: 3%;
}

.card__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  animation: invisible 1s linear 0s paused forwards;
}

.card__cover_outer {
  border: 5px solid red;
}

.card__cover_inner {
  border: 5px solid green;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 94%;
  margin: 5%;
}

.card__title {
  margin: 0;
  font-size: 0; /* dynamic */
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
  color: red;
  text-shadow: 2px 2px maroon;
}

.color__red-shadow {
  color: red;
  text-shadow: 2px 2px maroon;
}

.color__green-shadow {
  color: green;
  text-shadow: 2px 2px darkgreen;
}

.card__back {
  background-color: beige;
  width: 100%;
  height: 100%;
  box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0 2% 2% 0;
  padding: 3%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #609;
  width: 100%;
  height: 100%;
}

.card__header {
  margin: 3%;
  color: #609;
}

.card__header-text {
  margin: 0;
  text-align: center;
}

.color__violet {
  color: #a0f;
  text-shadow: 0 0 4px slateblue;
}

.card__videoframe {
  padding: 3%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__video {
  border: 0;
  width: 100%;
  height: 100%;
}

.card__footer {
  margin: 3%;
  color: #609;
}

.card__footer-text {
  margin: 0;
  text-align: center;
}
