::selection {
  background: transparent;
}

* {
  box-sizing: border-box; /* would cause bottom offset issues otherwise; normally it's not inheritable */
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_vaporwave.gif) no-repeat center/cover;
  opacity: var(--bgopacity, 0);
  /* animation: bgfade 2s ease-in-out 0s forwards paused; */
}
